body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #041e38;
    color: rgb(242, 241, 241);
}

#map {
    height: 85vh;
    width: 100%;
}

footer {
    text-align: center;
    padding: 5px;
    font-size: 12px;
    background-color: #ecf0f1;
}

.road-label {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  background: none;
  border: none;
  box-shadow: none;
}