/* GIST 7130 MODULE 4 - NAME: JESSE STREIGHT - ID:A01311395 */

/* BODY AND MAIN FORMATING */
body {
    padding: 0;
    margin: 0;
    background-image: url("images/backdrop.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.feature-title {
    color: #2c699e;
    font-family: "Aboreto", cursive;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
h1 {
    font-size: 8vw;
    font-family: "Aboreto", cursive;
    color: white;
    text-align: center;
    left: 50%;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -55%);
}
h2 {
    color: #fff;
    font-size: 24pt;
    font-family: "Aboreto", cursive;
    text-align: center;
}
h3 {
    color: rgb(3, 109, 158);
    font-size: 24pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    -webkit-text-stroke: 1px #c1ced4;
}
h4 {
    color:#fff;
    font-size: 14pt;
    text-align: center;
}
h5 {
    color: rgb(0, 0, 0);
    font-size: 24pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    -webkit-text-stroke: 1px #c1ced44f;
}
h6 {
    color: rgb(189, 187, 187);
    font-size: 24pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    -webkit-text-stroke: 1px #0000008f;
}
h7 {
    font-family: "Fraunces", serif;
    text-align: left;
}

/* NAVIGATION BAR - INSPIRED BY BOOSTRAP TUTORIAL*/
.navbar {
    background: #021526;
}
.nav-link {
    color: #fff;
    font-family: "Aboreto", cursive;
    cursor: pointer;
    margin-right: 1em;
}
.nav-link:hover {
    color: #525861;
}
.navbar-collapse {
    justify-content: center;
    text-align: center;
}

/* HEADER */
.header {
    background-image: url("images/VancouverBackground.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border: #021526;
    border-width: 5px;
}
.container-fluid {
   
    background-image: url("images/indoors.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    border: #021526;
    border-width: 5px;   
}
/* HEADER */
.header2 {
    background-image: url("images/indoors.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border: #021526;
    border-width: 5px;
}
/* HEADER - PROFILE PICTURE*/
#Jesse {
    border-radius: 50%;
    left: 50%;
    width: 30%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    -webkit-box-shadow: 1px 1px 4px rgb(2, 15, 20);
    -moz-box-shadow: 1px 1px 4px rgb(2, 15, 20);
    box-shadow: 10px 50px 20px rgba(2, 15, 20);
}

#Jesse2 {
    border-radius: 50%;
    left: 50%;
    width: 20%;
    position: flex;
    top: 45%;
    transform: translate(200%, -5%);
    -webkit-box-shadow: 1px 1px 4px rgba(2, 15, 20, 0);
    -moz-box-shadow: 1px 1px 4px rgb(2, 15, 20);
    box-shadow: 10px 50px 20px rgba(2, 15, 20, 0.295);
}

#logo {
    border-radius: 50%;
    left: 50%;
    width: 15%;
    max-width: 250px;
    position: absolute;
    top: 40%;
    transform: translate(-90%, -60%);
    -webkit-box-shadow: 1px 1px 4px rgb(2, 15, 20);
    -moz-box-shadow: 1px 1px 4px rgb(2, 15, 20);
    box-shadow: 10px 50px 20px rgba(2, 15, 20);
}


/* SECTION 1*/
.section1 {
    margin: 4em auto;
    padding: 1em;
    display: flex; /* Add this line */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 24pt;
    width: 90%;
    border-radius: 5%;
    text-align: center; /* Center text if needed */
}

/* SECTION 1 - MAIN OBJECTIVE*/
#MainObjective {
    font-size: 20pt;
    font-family: "Aboreto", cursive;
    text-align: center;
}
/* SECTION 1 - IMAGES (2) FORMATING*/
.section1 img {
    -webkit-box-shadow: 1px 1px 4px rgb(0, 0, 0);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0);
    box-shadow: 10px 1px 4px rgb(0, 0, 0);
    margin-bottom: 16px;
    border-radius: 10%;
}

/* SECTION 2*/
.section2 {
    margin: 4em auto;
    padding: 1em;
    justify-content: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 24pt;
    width: 90%;
    border-radius: 5%;
}
/* SECTION 2 - LIST*/
ul {
    font-size: 14pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
li {
    color: #c1ced4;
    font-size: 20pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* SECTION 2 - TABLE*/
table {
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 20pt;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
    text-align: center;
}
td {
    border: 1px solid white;
}
th {
    text-align: center;
    border: 5px solid black;
    background-color: #a1a1a1;
    color: black;
}

/* SECTION 2 - COURSE BUTTONS*/
.course {
    background-color: #1c1d1b;
    border: 1px solid #377b9b;
    color: rgb(236, 18, 18);
}
.course:hover {
    background-color: #333;
    border: 1px solid #333;
}

/* SECTION 4*/
.section4 {
    margin: 4em auto;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    font-family: "Times New Roman", cursive;
    font-size: 24pt;
    width: 90%;
    border-radius: 5%;
}

.section5 {
    margin: 4em auto;
    padding: 1em;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 24pt;
    width: 90%;
    border-radius: 5%;
}

.section6 {
    margin: 4em auto;
    padding: 1em;
    /*display: flex; /* Add this line */
    justify-content: left; /* Center content horizontally */
    align-items: left; /* Center content vertically */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 24pt;
    width: 90%;
    border-radius: 5%;
    text-align: center; /* Center text if needed */
}
.section7 {
    margin: 4em auto;
    padding: 1em;
    /*display: flex; /* Add this line */
    justify-content: left; /* Center content horizontally */
    align-items: left; /* Center content vertically */
    background-color: rgba(11, 39, 46, 0.5);
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 24pt;
    width: 90%;
    border-radius: 5%;
    text-align: center; /* Center text if needed */
}
/* FOOTER*/
footer {
    background-color: #111310;
    background-position: bottom;
    position: relative;
    height: 200px;
    width: 100%;
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 20pt;
}

/* FOOTER - PADDED OVERLAY - SECTION 3*/
.section3 {
    margin: 4em auto;
    padding: 1em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* FOOTER - CONTACT INFORMATION*/
#contact {
    font-size: 18pt;
    font-family: "Aboreto", cursive;
    position: absolute;
    text-align: left;
}

/* FOOTER - TITLES*/
.feature-title3 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* FOOTER - BUTTONS*/
.section3 .btn {
    background-color: #1c1d1b;
    border: 1px solid #377b9b;
    color: rgb(236, 18, 18);
    margin-top: 20px;
}
.section3 .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}
.link {
    color: #10ddd3;
}

.linkedin {
    background-color: #1c1d1b;
    border: 1px solid #377b9b;
    color: rgb(236, 18, 18);
}
.linkedin:hover {
    background-color: #333;
    border: 1px solid #333;
}

.Document {
    background-color: #1c1d1b;
    border: 1px solid #377b9b;
    color: rgb(152, 236, 18);
    border-radius: 10%;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 14pt;
}
.Document:hover {
    background-color: #333;
    border: 1px solid #333;
}
.Chart {
    margin: 4em auto;
    padding: 1em;
    place-items: center; /* Center content both horizontally and vertically */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 24pt;
    width: 90%;
    border-radius: 5%;
    text-align: center; /* Center text if needed */
}  

.dataframe {
    margin: 0em auto;
    padding: 2%; /* Use percentage for padding */
    color: white;
    font-family: "Aboreto", cursive;
    font-size: 1.45vw; /* Responsive font size based on viewport width */
    width: 100%; /* Use percentage for width */
    max-width: 700px; /* Optional: maximum width to prevent excessive scaling */
    min-width: 50px;
    border-radius: 5%;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* .feature-titles used from Boostrap Tutorial.*/

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


