html, body.map-page {
    height: 100%;
    margin: 0;
}

body.map-page {
    display: block;
}

body.map-page #map {
    width: 100%;
    border: none;
}

/* ROAD LABELS */
.road-label {
    font-size: 11px;
    color: #333333;
    background: rgba(255,255,255,0.7);
    padding: 1px 3px;
    border-radius: 2px;
    pointer-events: none;
}
